<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12 col-sm-8 col-md-8">
      <app-form></app-form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
