<div class="container custom-table-class">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-12 col-sm-12 col-md-12">
      <app-table [pqrs]="resultPQRS"></app-table>
    </div>
    <div class="col">
    </div>
  </div>
</div>
