<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">
    <img src="./../assets/logo.jpg" style="width: 80px"  class="img-fluid" alt="logo-brands"/>
  </a>
  <button *ngIf="pathUrl == ''" routerLink="/create" type="button" class="btn btn-primary btn-lg text-white">Crear PQR</button>
  <button *ngIf="pathUrl == 'create'" routerLink="/" type="button" class="btn btn-secondary btn-lg text-white">Volver</button>
</nav>
