<form
  class="bg-white p-4 custom-class-form"
  (ngSubmit)="saveForm()"
  [formGroup]="formPQR"
  autocomplete="off"
  novalidate>
  <div class="form-row">
    <div *ngIf="pathUrl == 'create', else contentId" class="col-md-12 mb-3">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">¡Bienvenido!</h4>
        <p>Tienes alguna inquietud acerca de nuestro servicio diligencia el formulario.</p>
        <hr>
        <p class="mb-0">Nota: Todos los campos (*) son obligatorios.</p>
      </div>
    </div>
    <ng-template #contentId>
      <div  class="col-md-12 mb-3">
        <h4 class="alert-heading">Editando...</h4>
        <p>ID: {{dataFormId}}</p>
        <div *ngIf="successFullyForm" class="alert alert-success" role="alert">
          Se ha actualizado correctamente...
        </div>
      </div>
    </ng-template>
    <div class="col-md-12 mb-3">
      <label>Primer Nombre (*)</label>
      <input type="text"
             formControlName="firstname"
             class="form-control"
             placeholder="Ej: David Fernando" required/>
      <div *ngIf="inputValidate('firstname')" class="mt-1 alert alert-danger" role="alert">
        <span *ngIf="formPQR.get('firstname').hasError('required')">Es campo es requerido.</span>
        <span *ngIf="formPQR.get('firstname').hasError('minlength')">Te falta minimo de carácteres.</span>
        <span *ngIf="formPQR.get('firstname').hasError('maxlength')">Se paso del máximo de carácteres.</span>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="secondsname">Segundo Nombre (*)</label>
      <input type="text"
             formControlName="secondsname"
             class="form-control"
             id="secondsname"
             placeholder="Ej: Valenzuela Pardo"
             required/>
      <div *ngIf="inputValidate('secondsname')" class="mt-1 alert alert-danger" role="alert">
        <span *ngIf="formPQR.get('secondsname').hasError('required')">Es campo es requerido.</span>
        <span *ngIf="formPQR.get('secondsname').hasError('minlength')">Te falta minimo de carácteres.</span>
        <span *ngIf="formPQR.get('secondsname').hasError('maxlength')">Se paso del máximo de carácteres.</span>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="phone">Número Telefónico (*)</label>
      <input type="number"
             class="form-control"
             formControlName="phone"
             id="phone"
             placeholder="Ej: 321456787"
             required/>
      <div *ngIf="inputValidate('phone')" class="mt-1 alert alert-danger" role="alert">
        <span *ngIf="formPQR.get('phone').hasError('required')">Es campo es requerido.</span>
        <span *ngIf="formPQR.get('phone').hasError('pattern')">El campo telefónico no es valido.</span>
      </div>
    </div>
    <div class="col-md-6 mb-3">
      <label for="email">Correo Electrónico (*)</label>
      <input type="email"
             class="form-control"
             formControlName="email"
             id="email"
             placeholder="Ej: david.valenzuela@gmail.com"
             required/>
      <div *ngIf="inputValidate('email')" class="mt-1 alert alert-danger" role="alert">
        {{formPQR.get('email').hasError('pattern') ? 'El correo electrónico no es correcto *' :  'El correo electrónico es requerido *'}}
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="type">Tipo PQR (*)</label>
      <select
        formControlName="type"
        class="form-control"
        id="type">
        <option value=""> Seleccione el tipo</option>
        <option *ngFor="let type of typePQR" [value]="type">{{type | titlecase}}</option>
      </select>
      <div *ngIf="inputValidate('type')" class="mt-1 alert alert-danger" role="alert">
        El tipo de PQR es requerido *
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <label for="comments">Requerimiento (*)</label>
      <textarea class="form-control"
                formControlName="comments"
                id="comments"
                rows="3"></textarea>
      <div *ngIf="inputValidate('comments')" class="mt-1 alert alert-danger" role="alert">
        <span *ngIf="formPQR.get('comments').hasError('required')">Es campo es requerido.</span>
        <span *ngIf="formPQR.get('comments').hasError('minlength')">Te falta minimo de carácteres.</span>
        <span *ngIf="formPQR.get('comments').hasError('maxlength')">Se paso del máximo de carácteres.</span>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">{{editForm ? 'Modificar PQR': '¡Enviar PQR!'}}</button>
</form>

<div *ngIf="successFullyForm && pathUrl === 'create'" class="mt-4 alert alert-success" role="alert">
 Se ha enviado con exito el nuevo PQR...
</div>

<div *ngIf="errorFromPQR" class="mt-3 alert alert-danger" role="alert">
  <ul>
    <li *ngFor="let error of errorFromPQR">
      {{error}}
    </li>
  </ul>
</div>


