<footer>
  <div class="container-fluid mt-4 pt-3 pb-2  bg-primary">
    <p class="text-center text-white">Desarrollado por: <a class="text-white" href="https://gitlab.com/vlzdavid12/"> David Fernando Valenzuela Pardo</a></p>
  </div>
</footer>
