<table class="table table-striped bg-white">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Primer Nombre</th>
    <th scope="col">Segundo Nombre</th>
    <th scope="col">Correo Electrónico</th>
    <th scope="col">Opciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="collectionSize <= 0; else dataResult">
    <td colspan="5"> <p class="text-center">No hay resultados...</p></td>
  </tr>
  <ng-template #dataResult>
  <tr *ngFor="let pq of resultPQRS" [id]="'tr_'+pq._id">
    <td class="pt-4" [title]="pq._id">{{ pq._id | slice: 0: 6 }}...</td>
    <td class="pt-4">
      {{pq.firstName}}
    </td>
    <td class="pt-4">{{pq.lastName}}</td>
    <td class="pt-4">{{pq.email}}</td>
    <td>
      <div class="row">
        <button type="button"
                (click)="openConfirmDelete(confirmDelete, pq._id)"
                class="m-1 p-2 btn btn-danger text-white">
        <span class="material-icons">
delete_outline
</span>
        </button>
        <button type="button" (click)="openConfirmEdit(confirmEdit, pq._id)"
                class="m-1 p-2 btn btn-secondary text-white">
      <span class="material-icons">
edit_square
</span>
        </button>
        <button (click)="openScrollableContent(detailsContent, pq._id)" type="button"
                class="m-1 p-2 btn btn-info text-white">
        <span class="material-icons">
receipt
</span>
        </button>
      </div>
    </td>
  </tr>
  </ng-template>
  </tbody>
</table>

<div *ngIf="collectionSize > 0" class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                  (pageChange)="refreshCountries()">
  </ngb-pagination>

  <select class="form-select" style="width: auto; border: 0px" [(ngModel)]="pageSize"
          (ngModelChange)="refreshCountries()">
    <option [ngValue]="2">2 por página</option>
    <option [ngValue]="4">4 por página</option>
    <option [ngValue]="6">6 por página</option>
  </select>
</div>

<ng-template #confirmEdit let-modal>
  <div class="modal-content">
    <div class="modal-header" style="height: 100px">
      <a class="close" aria-label="Close" (click)="closeModalEdit(modal, itemID)">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body">
      <app-form editForm="true" [dataFormId]="itemID"></app-form>
    </div>
  </div>
</ng-template>

<ng-template #detailsContent let-modal>
  <div class="modal-content" *ngIf="!loading && detailsPQR; else contentLoading">
    <div class="modal-header">
      <h4 class="modal-title">Detalles</h4>
      <a class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body">
      <p class="text-custom-color-2"><strong class="text-custom-color">Primer Nombre:</strong> {{detailsPQR.firstName}}
      </p>
      <p class="text-custom-color-2"><strong class="text-custom-color">Segundo Nombre:</strong> {{detailsPQR.lastName}}
      </p>
      <p class="text-custom-color-2"><strong class="text-custom-color">Correo Electrónico:</strong> {{detailsPQR.email}}
      </p>
      <p class="text-custom-color-2"><strong class="text-custom-color">Tipo de
        Requerimiento:</strong> {{detailsPQR.type}} </p>
      <hr/>
      <h5>Requerimiento.</h5>
      <p class="text-custom-color-2">{{detailsPQR.comments}}</p>
    </div>
  </div>
  <ng-template #contentLoading>
    <div class="bg-secondary text-white custom-loader">
      <app-loader></app-loader>
    </div>
  </ng-template>
</ng-template>

<ng-template #confirmDelete let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Eliminar Item</h4>
      <a class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </a>
    </div>
    <div class="modal-body">
      <p>Deseas eliminar este item, recuerda que no podrás recuperarlo.</p>
      <strong>{{itemID}}</strong>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" (click)="modal.dismiss('Cross click')">¡No Deseo!</button>
      <button type="button" class="btn btn-secondary" (click)="deleteNowItem(itemID)">¡Eliminar Ahora!</button>
    </div>
  </div>
</ng-template>

